/* cycle-slideshow */

.cycle-slideshow{
  margin-top: -0.2%;
  width:110%;
  max-width: 2000px;
  position: relative;
  overflow: hidden;

  z-index:0;

  padding: 0;
  left:-2.5%;

  -ms-transform: rotate(-4deg); /* IE 9 */
  -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
  transform: rotate(-4deg);
}

.cycle-prev, .cycle-next{
  font-size: 5vw;
  color: #FFFFFF;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 8000;
  margin-top:-16px;
  cursor: pointer;

}

.cycle-prev {left:10%;}
.cycle-next {right:10%;}

.cycle-pager{
  width: 100%;
  position: absolute;
  top:5% ;
  text-align: center;
  z-index: 9999;

}
.cycle-pager span {
  text-indent: 100%;
  white-space: nowrap;
  width: 0.8vw;
  height: 0.8vw;
  display: inline-block;
  border: 1px solid #FFF;
  border-radius: 50%;
  margin: 0 1%;
}

.cycle-pager .cycle-pager-active { background: #FFF;}

